<a href="https://colab.research.google.com/github/jay619/Kaggle-Competitions/blob/dev/1-Titanic/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> Problem Statement </h2>

* Build a model to answer: "What sorts of people were more likely to sruvive

Importing the required libraries and loading the data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

train = pd.read_csv('https://raw.githubusercontent.com/jay619/Kaggle-Competitions/main/1-Titanic/titanic/train.csv')

<h3> Training Dataset </h3>

<table>
  <tr>
  <th>Variable</th>
  <th>Definition</th>
  <th>Key</th>
  </tr>
  <tr>
  <td>survival</td>
  <td>Survival</td>
  <td>0 = No, 1 = Yes</td>
  </tr>
  <tr>
  <td>pclass</td>
  <td>Ticket Class</td>
  <td>1 = 1st, 2 = 2nd, 3 = 3rd</td>
  </tr>
  <tr>
  <td>age</td>
  <td>Age in years</td>
  <td>-</td>
  </tr>
  <tr>
  <td>sibsp</td>
  <td># of siblings/spouses<br>aboard the Titanic</td>
  <td>-</td>
  </tr>
  <tr>
  <td>parch</td>
  <td># of parents/children<br>aboard the Titanic</td>
  <td>-</td>
  </tr>
  <tr>
  <td>ticket</td>
  <td>Ticket Number</td>
  <td>-</td>
  </tr>
  <tr>
  <td>fare</td>
  <td>Passenger Fare</td>
  <td>-</td>
  </tr>
  <tr>
  <td>Cabin</td>
  <td>Cabin Number</td>
  <td>-</td>
  </tr>
  <tr>
  <td>embarked</td>
  <td>Port of Embarkation</td>
  <td> C = Cherbourg, Q = Queenstown, <br> S = Southampton </td>
  </tr>
</table>

In [ ]:
plt.figure(num=1)
plt.hist(train.Survived, bins=2)
plt.show()